<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="/allQuotesAlphabetical"> <button type = "submit">All quotes alphabetical</button> </form>
   

    <form action="/quotesWithLife"><button>Quotes about life</button></form>
    

    <form action="/likesBetween"><button>Quotes having likes betweeen 50 and 100</button></form>
    

    <form action="/top3Quotes"><button>Top 3 Quotes</button></form>
    

    <form action="/authorPortrait"><button>Portrait of Authors</button></form>
    

    <form action="/nameAndBio"><button>nameAndBio</button></form>
    

    <form action="/inspirationalQuotes"><button>inspirationalQuotes</button></form>
    

    <form action="/portraitAndQuotes"><button>portraitAndQuotes</button></form>

    <form action="/numberOfCountry"><button>numberOfCountry</button></form>
</body>
</html>