<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- <%= result %> -->

    <% for (let row of result) {  %>
        <!-- <pre><%= JSON.stringify(row, null, 2) %></pre> -->
        <img src= <%= row.portrait %> alt="">
        <p><%= row.quote %></p>
        <hr>
    <% } %>


</body>
</html>