h1{
    background-color: olivedrab;
    color: orange;
    width: 50%;
    margin:0 auto;
    text-align:center;
    border-radius: 10px;
}
#main_nav{
    background-color: olivedrab; 
    border-radius: 10px;
    padding: 10px;
}
#team{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    
}
div{
    margin:10px;
}
section{
    display:flex;
}
body{
    background-color: beige;
}
p{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
}
#logo{
    width: 50%;
    height: auto;
    margin:0 auto;
    border-radius: 10px;
}
footer{
    text-align: center;
    background-color: rgb(16, 78, 129);
    color: rgb(36, 34, 147);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.navbt{
    background-color: orange;
    color: rgb(8, 82, 122);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;

}
#main_nav{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(8, 82, 122);
}
#main_nav a:hover{
    background-color: rgb(16, 78, 129);
    color: white;
}
#footer_text{
    background-color: rgb(16, 78, 129);
    color: white;
    font-size: 10px;
}
*{
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
}
