*{
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.result-img{
    width: 48px;
    height: 36px;
    object-fit:contain;
}
body{
    background: #0b2540;
    color: #e9f7f5;
}
h2{
    font-size:2em;
    margin: 0 auto;
    
}
#submit{
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg,#0bd3b6,#06a88f);
    color: #042426;
    font-size:2em;
    font-weight: 800;
}

input[type="text"], input[type="number"], select{
    width: 100%; 
    /* max-width: 420px; */
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.12);
    background: rgba(0,0,0,0.18);
    color: #f8fffd;
}
