<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivational Quote</title>
    <!--The ejs already know the file is in the public folder-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>home.ejs</h1>
    <h2> <%= temp.body %></h2>
    <h3> <%= temp.by %></h3>
</body>
</html>