body {
   background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),url('./assets/images/corolla-ae86.jpg');
      color: white;
      width: 100%;
      display: flex;
      align-items: center;
}

content {
   margin: 0 auto;
   max-width: 800px;
}
h1, h2, h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: darkorange;
}
p {
   font-family: 'Arial', sans-serif;
   font-size: 18px;
   line-height: 1.6;
   margin-bottom: 20px;
   text-align: center;
}
input {
   padding: 5px;
   font-size: 16px;
   border: 1px solid dimgray;
   border-radius: 4px;
   margin-right: 10px;
}
button {
   font-size: 16px;
   border-radius: 4px;
   margin-top: 10px;
}
button:hover {
   cursor: pointer;
}
#guess-button {
   background-color: darksalmon;
   padding: 3px 6px;
   border: 1px solid dimgray;
}
#guess-button:hover {
   background-color: lightsalmon;
   cursor: pointer;
}
#status-display{
  height: 30px;
  width: 90%;
  background-color: dimgrey;
}
#gameDisplay{
  margin: 0 auto;
  text-align : center;
}